<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!--  -->
	<context:annotation-config />
	<!-- 扫描指定的包中的类上的注解  -->
	<context:component-scan base-package="cn.c.**.controller" />

	<!-- 提供数据绑定支持，@NumberFormatannotation支持，@DateTimeFormat支持，@Valid支持，读写XML的支持（JAXB），读写JSON的支持（Jackson） -->
	<!-- <mvc:annotation-driven/> -->
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>
	
	<!-- 将静态文件指定到某个特殊的文件夹中统一处理,如css文件,图片文件 -->
	<mvc:resources location="/resources/" mapping="/resources/**" />
	
	<!-- 设置multipartResolver才能完成文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760"><!-- 10M --></property>
	</bean>
	
	<!-- 拦截器 -->
	<!-- <mvc:interceptors> -->
		<!-- 验证用户登录拦截 -->
        <!-- <ref bean="passportInterceptor"/> -->
    <!-- </mvc:interceptors> -->
    
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 捕获 所有异常, 通过exception.jsp显示-->
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!-- <prop key="java.lang.Exception">exception</prop> -->
			</props>
		</property>
	</bean>

	<aop:aspectj-autoproxy />
	<!-- <context:component-scan base-package="cn.c.core.controller" /> -->
	
	<!-- ajax切面类, 在执行controller下且返回Map方法时会自动打包成功或失败内容 -->
	<import resource="classpath:/springConfig-core-ajaxAspect.xml"/>
	<!-- 登录验证拦截器 -->
	<import resource="classpath:/springConfig-module-organize.xml"/>
</beans>